.left_nav{
  width: 200px;
  height: 100%;
  position: absolute;
  background-color: gray;
}

.workspace{
  position: absolute;
  left: 200px;
  height: 100%;
}

.navbar{
  margin-bottom: 0 !important;
}
