.block_toolbar {
  position: absolute !important;
  width: 40px;
  left: 5px;
}

/* TODO: l1 better block appearence */

.block {
  margin-left: 50px;
  border: solid
}

.block.active {
  border: solid red;
}

.block>.block_toolbar {
  visibility: hidden;
}

.block.active>.block_toolbar {
  visibility: visible;
}
