html, body {
  background-color: white;
  transition: background-color 0.4s;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}
.box{
  /*border: solid;*/
  /*background-color: white;*/
  -webkit-user-select: none;
  position: absolute;
}
.box.active {
  border: solid red;
}
.box_toolbar {
  visibility: hidden;
  position: absolute !important;
  padding: 2px;
  top: -45px;
}
.active.box>.box_toolbar {
  visibility: visible;
}
.box-button {
  height: 30px;
  width: 30px;
}
.anchor {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid;
  position: absolute;
  visibility: hidden;
}
.anchor.rotate {
  right: -6px;
  top: -6px;
  background-color: yellow;
}
.anchor.scale {
  right: -6px;
  bottom: -6px;
  background-color: blue;
}
.active.box>.anchor {
  visibility: visible;
  display: block;
}
.box_content {
  height: 100%;
  width: 100%;
}
.box_content.text {
  overflow-wrap: break-word;
}
