extends layout

block css
  link(rel='stylesheet' href='css/bundle.css')
  link(rel='stylesheet' href='vendor/bootstrap/css/bootstrap.min.css')

block content
  div#mount-app

block js
  script(src='vendor/babel-polyfill/polyfill.min.js')
  script(src='js/main.js')
