<!DOCTYPE html>
<html>
    <!-- header start-->
    {% include "./layouts/__header.html" %}
    <!-- header end -->

<body>
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
  <div class=" card-box">
    <div class="panel-heading">
      <h3 class="text-center"> 登录 <strong class="text-custom">OrientBoard</strong> </h3>
    </div>
    <div class="panel-body">
       <form class="form-horizontal m-t-20" action="login" method="POST">
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="text" name="userAccount" required="" placeholder="用户名字（Email）">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" name="userPassword" required="" placeholder="密码">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <div class="checkbox checkbox-primary">
              <input id="checkbox-signup" type="checkbox">
              <label for="checkbox-signup"> 记住我 </label>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-40">
          <div class="col-xs-12">
            <button class="btn btn-pink btn-block text-uppercase waves-effect waves-light" type="submit">登录</button>
          </div>
        </div>
        <div class="form-group m-t-30 m-b-0">
          <div class="col-sm-12"> <a href="page-recoverpw.html"  class="text-dark"><i class="fa fa-lock m-r-5"></i> 忘记密码？</a> </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
     </div>
  </div>
</div>
<!-- footer start -->
    {% include "./layouts/__footer.html" %}
    <!-- footer end -->
</body>
</html>