{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "orientsoft/react"
  ],
  "globals": {
    "gBoard": true
  },
  "rules": {
        "indent": [2, 2],
        "comma-dangle": [2, "never"],
        "max-len": [1, 120],
        "no-console": 0,
        "no-unused-vars": 0,
        "func-names": 0,
        "new-cap": 0,
        "dot-notation": 0,          // encourages use of dot notation whenever possible
         "no-else-return": 0,
         "radix": 0,                 // require use of the second argument for parseInt() (off by default)
         "curly": 0,
         "no-mixed-spaces-and-tabs": 0, 
        "camelcase": 0
    }

}
